$pokemon-health-bar-height: 20px;
$pokemon-health-bar-border-radius: $pokemon-health-bar-height / 2;
$pokemon-heal-duration: 1000ms;

.pokemon-cards {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pokemon-card {
  border-radius: 10px;
  width: 180px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.pokemon-card-img {
  border-radius: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
  background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png");
  height: 180px;
  width: 100%;
}

.pokemon-card-body {
  padding: 10px 20px;
}

.pokemon-card-body h2 {
  margin: 10px 0px;
}

.pokemon-card-button {
  width: 100%;
}

.pokemon-health-bar-container {
  height: $pokemon-health-bar-height;
  width: 100%;
  background-color: #e0e0de;
  border-radius: $pokemon-health-bar-border-radius;
  margin: 10px 0px;
}

.pokemon-health-bar {
  height: 100%;
  background-color: #4caf50;
  border-radius: $pokemon-health-bar-border-radius;
  transition: width $pokemon-heal-duration ease-in-out, background-color $pokemon-heal-duration ease-in-out;
  width: 50%;
}